@import url(reset.css);
/* Eric Meyer's css reset. */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');

/*
    font-family: 'Handlee', cursive;

    font-family: 'Montserrat', sans-serif;
    */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

/* fuente tipográfica para los iconos */


* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --fuenteprincipal: 'Montserrat', sans-serif;
    --fuentetitulos: 'Handlee', cursive;
    --colorprincipal: #fa573a;
    --colorsecundario: #21242e;
    --fontsize: 1rem;
    --anchomaximo: 68.75rem;
    --magingrid: 1rem;

}

img {
    width: 100%;
    height: auto;
    display: block;
}

.container {
    max-width: var(--anchomaximo);
    margin: 0 auto;
    padding: 0 0.625rem;
}

body {
    font-family: var(--fuenteprincipal);
    font-size: var(--fontsize);
}

/* INICIO HEADER */

header .nav-top {
    background-color: var(--colorsecundario);
    padding: 1.25rem 0rem;
}

header .nav-top .container {
    display: flex;
    justify-content: space-around;

    & span {
        display: none;
    }

    & i {
        color: var(--colorprincipal);
        font-size: 140%;
    }
}

header nav .container {
    display: flex;
    flex-wrap: wrap;
}

header nav figure a {
    display: block;
    max-width: 6.25rem;
}

header figure {
    width: calc(100% - 1.875rem);
    padding: 1.25rem 0;
}

header .hamburguesa {
    width: 1.875rem;
    padding: 1.25rem 0;
    cursor: pointer;
}

header .menu {
    width: 100%;
}

/* header figure img {
    max-width: 6.25rem;
}*/

header .hamburguesa div {
    border-top: 2px solid #aaa;
    margin-bottom: 0.625rem;
}

header .menu a {
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 1.25rem;
    text-align: center;
    border-bottom: 1px solid #aaa;
    color: #aaa;
}

header .menu li:last-child a {
    border-bottom: 0;
}

header .menu .activo {
    color: var(--colorprincipal);
}

/* FINAL HEADER */

/* INICIO FOOTER */

footer {
    background-color: var(--colorsecundario);
    text-align: center;
    color: white;
    padding: 1.25rem 0rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;

    &:hover {
        color: var(--colorprincipal);
    }
}

.flecha a {
    font-size: 300%;
    color: var(--colorprincipal);
    position: fixed;
    bottom: 3.75rem;
    right: 0.625rem;
}

/* FINAL FOOTER */

/* INICIO HERO */

.hero {
    background-image: url('../images/fondo.jpg');
    background-size: cover;
    background-position: center center;
    background-color: #777;
    background-blend-mode: multiply;
}

.hero .container {
    padding: 130px 0px;

    & h1 {
        font-family: var(--fuentetitulos);
        font-size: 2.25rem;
        color: white;
    }

    & h2 {
        font-size: 1.25rem;
        color: var(--colorprincipal);
        margin: var(--magingrid) 0;
    }

    & p {
        color: white;
    }
}

.boton {
    display: inline-block;
    background-color: var(--colorprincipal);
    padding: 1.15rem;
    margin: var(--magingrid) 0;
    color: white;
    text-decoration: none;
    border: 1px solid var(--colorprincipal);

    &:hover {
        background-color: transparent;
        color: var(--colorprincipal);

        & i {
            transform: translateX(5px);
            transition: transform 0.5s;
        }

    }
}

.hero .social {
    display: flex;
    justify-content: space-between;
    width: 10rem;

    & a {
        font-size: 2em;
        color: white;
        text-decoration: none;
    }
}


/* FINAL HERO */

/* INICIO OUR SERVICES */

main section {
    padding: 2.125rem 0.625rem;
}

main .grid {
    display: grid;
    gap: var(--magingrid);
    grid-template-columns: 1fr;
}

main section h2 {
    font-family: var(--fuentetitulos);
    font-size: 2rem;
    text-align: center;

    &span {
        color: var(--colorprincipal);
    }
}

main section .underline {
    position: relative;
    width: 100px;
    margin: 0 auto;
    color: var(--colorprincipal);
    font-weight: bold;
    text-align: center;

    & hr {
        position: absolute;
        width: 100%;
        border-color: var(--colorprincipal);
        top: -2px;
    }


}

main .grid article {
    /* Le damos tamaño temporalmente para componer. 
    Luego se eliminará. 
    height: 20vh;
    background-color: black;*/
    padding: v1.25rem;
    border-bottom: 1px solid #aaa;

    & i {
        color: var(--colorprincipal);

    }

    & div i {
        border: 1px solid var(--colorprincipal);
        padding: 0.8rem;
        font-size: 150%;
    }

    & h3 {
        margin: var(--magingrid) 0;
        font-weight: 700;
        font-size: 115%;
    }

    & p {
        color: #666;
        font-size: 95%;
        line-height: 1.2;
        margin-bottom: var(--magingrid);
    }

    & a {
        color: var(--colorprincipal);
        text-decoration: none;
        font-weight: 700;
    }

}

/* FINAL OUR SERVICES */

/* INICIO MEDIA-QUERIES */

@media(min-width: 37.5rem) {
    main .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    main .grid article:last-child {
        grid-column: 1/3;
    }

    main .grid article {
        padding: v1.25rem;
        border-bottom: 0;
        border-left: 1px solid #aaa;
    }
}

@media(min-width: 48rem) {
    header .nav-top .container {
        justify-content: space-between;

        & span {
            display: inline;

        }

        & a {
            color: white;
            text-decoration: none;
            font-size: 110%;
        }

    }

    footer {
        text-align: left;
    }

    main .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    main .grid article:last-child {
        grid-column: auto;
        /* reseteamos grid-column. tambien se podria solucionar con 3/4 */
    }
}

@media(min-width: 62.75rem) {
    header .hamburguesa {
        display: none;
    }

    header nav .container {
        flex-wrap: nowrap;
    }

    header .menu {
        padding: 0.5rem 0;
        display: flex;
        justify-content: end;
    }

    header .menu a {
        border: 0;
        padding: 1.25rem 0rem 1.25rem 2.50rem;

    }
}

/* FINAL MEDIA-QUERIES */