@import url(reset.css);
/* Eric Meyer's css reset. */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');

/*
    font-family: 'Handlee', cursive;

    font-family: 'Montserrat', sans-serif;
    */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

/* fuente tipográfica para los iconos */


* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --fuenteprincipal: 'Montserrat', sans-serif;
    --fuentetitulos: 'Handlee', cursive;
    --colorprincipal: #fa573a;
    --colorsecundario: #21242e;
    --fontsize: 1rem;
    --anchomaximo: 68.75rem;
    --margingrid: 1rem;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.container {
    max-width: var(--anchomaximo);
    margin: 0 auto;
    padding: 0 0.625rem;
}

body {
    font-family: var(--fuenteprincipal);
    font-size: var(--fontsize);
}

h2 {
    font-family: var(--fuentetitulos);
    font-size: 2rem;
    text-align: center;

    & span {
        color: var(--colorprincipal);
    }
}

.underline {
    position: relative;
    width: 100px;
    margin: 0 auto 2rem auto;
    color: var(--colorprincipal);
    font-weight: bold;
    text-align: center;

    & hr {
        position: absolute;
        width: 100%;
        border-color: var(--colorprincipal);
        top: -2px;
    }
}

h3 {
    margin: var(--margingrid) 0;
    font-weight: 700;
    font-size: 115%;
}

h4 {
    color: var(--colorprincipal);
    line-height: 2;
    font-weight: 700;
    font-size: 110%;
    margin: 0;

}

p {
    color: #666;
    font-size: 95%;
    line-height: 1.2;
    margin: 1.5rem 0;
}

.enlace {
    color: var(--colorprincipal);
    text-decoration: none;
    font-weight: 700;
}

/* INICIO HEADER */

header .nav-top {
    background-color: var(--colorsecundario);
    padding: 1.25rem 0rem;
}

header .nav-top .container {
    display: flex;
    justify-content: space-around;

    & span {
        display: none;
    }

    & i {
        color: var(--colorprincipal);
        font-size: 140%;
    }
}

header nav>.container {
    display: flex;
    flex-wrap: wrap;

    & figure a {
        display: block;
        max-width: 6.25rem;
    }
}

header figure {
    width: calc(100% - 1.875rem);
    padding: 1.25rem 0;
}

header .hamburguesa {
    width: 1.875rem;
    padding: 1.25rem 0;
    cursor: pointer;
}

header .menu {
    width: 100%;
}

header .hamburguesa div {
    border-top: 2px solid #aaa;
    margin-bottom: 0.625rem;
}

header .menu a {
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 1.25rem;
    text-align: center;
    border-bottom: 1px solid #aaa;
    color: #aaa;
}

header .menu li:last-child a {
    border-bottom: 0;
}

header .menu .activo {
    color: var(--colorprincipal);
}

/* FINAL HEADER */

/* INICIO FOOTER */

footer {
    background-color: var(--colorsecundario);
    text-align: center;
    color: white;
    padding: 0.25rem 0rem;
    position: fixed;
    bottom: 0;
    width: 100%;

    & p {
        margin: 1rem 0;
    }
}

footer a {
    color: white;
    text-decoration: none;

    &:hover {
        color: var(--colorprincipal);
    }
}

.flecha a {
    font-size: 300%;
    color: var(--colorprincipal);
    position: fixed;
    bottom: 3.75rem;
    right: 0.625rem;
}

/* FINAL FOOTER */

/* INICIO HERO */

.hero {
    background-image: url('../images/fondo.jpg');
    background-size: cover;
    background-position: center center;
    background-color: #777;
    background-blend-mode: multiply;
}

.hero .container {
    padding: 130px 10px;
    display: block;

    & h1 {
        font-family: var(--fuentetitulos);
        font-size: 2.25rem;
        color: white;
    }

    & h2 {
        font-size: 1.25rem;
        color: var(--colorprincipal);
        text-align: left;
    }

    & p {
        color: white;
    }
}

.boton {
    display: inline-block;
    background-color: var(--colorprincipal);
    padding: 1.15rem;
    margin: var(--margingrid) 0;
    color: white;
    text-decoration: none;
    border: 1px solid var(--colorprincipal);

    &:hover {
        background-color: transparent;
        color: var(--colorprincipal);

        & i {
            transform: translateX(5px);
            transition: transform 0.5s;
        }
    }
}

.hero .social {
    display: flex;
    justify-content: space-between;
    width: 10rem;

    & a {
        font-size: 2em;
        color: white;
        text-decoration: none;
    }
}


/* FINAL HERO */

/* INICIO OUR SERVICES */

section#services {
    padding: 2.125rem 0.625rem;
}

section#services .grid {
    display: grid;
    gap: var(--margingrid);
    grid-template-columns: 1fr;
}

section#services .grid article {
    /* Le damos tamaño temporalmente para componer. 
    Luego se eliminará. 
    height: 20vh;
    background-color: black;*/
    padding: 1.25rem;
    border-bottom: 1px solid #aaa;

    & i {
        color: var(--colorprincipal);
    }

    & div i {
        border: 1px solid var(--colorprincipal);
        padding: 0.8rem;
        font-size: 150%;
    }

}

/* FINAL OUR SERVICES */

/* INICIO ABOUT US */

#aboutus {
    margin-bottom: 8rem;
}

section#aboutus .flex {
    margin-top: 1.875rem;
    display: flex;
    flex-direction: column;
    gap: var(--margingrid);

    & p {
        color: #666;
        line-height: 1.20;
    }

}

section#aboutus .imagen {
    border: 3px solid var(--colorprincipal);
    transform: rotateZ(10deg);
    width: 80%;
    transition: 0.5s;
    /* margin: 0 auto; */

    & .marco {
        transform: rotateZ(-10deg);
        transition: 0.5s;

    }
}

section#aboutus figure:hover :is(.imagen, .marco) {
    transform: rotateZ(0deg);
}



/* FINAL ABOUT US */


/* INICIO OUR BLOGS */
#blog {
    margin-bottom: 4rem;
}

section#blog hr {
    top: -1px;
}

section#blog article>div {
    padding: var(--margingrid);
}

section#blog .grid {
    display: grid;
    gap: var(--margingrid);
    grid-template-columns: repeat(2, 1fr);
}

section#blog figure {
    position: relative;
    display: flex;
    padding-top: 1rem;

    &>div {
        position: absolute;
        /* padding-top: 0.2rem; */
        width: 6rem;
        height: 6rem;
        background-color: rgba(250, 87, 58, 0.8);
        /* mask-mode: alpha; */

        & p {
            text-align: center;
            color: white;
            line-height: 1;
            font-size: 1.4rem;
            font-weight: 700;
        }
    }
}

section#blog h3 {
    text-transform: capitalize;
    /* margin: var(--margingrid) 0; */
    font-weight: 500;
    font-size: 1.5rem;
}

section#blog i {
    border: none;
    padding: 0.8rem;
    font-size: 100%;
}

/* FINAL OUR BLOGS */


/* INICIO MENU */

#menu {
    background-color: var(--colorsecundario);
    margin-bottom: 3rem;
}

#menu .container {
    padding: 0.25rem;

    & h2 {
        color: white;
        padding-top: 2rem;
    }

    & .underline {
        position: relative;

        &>hr {

            top: -1px;
        }
    }

    & nav>.container {
        padding: 0;
        margin-bottom: 2rem;
    }

    &>hr {
        position: absolute;
        width: 4rem;
        color: var(--colorprincipal);
        /* top: -2px; */
    }

    & h4 {
        color: white;
    }

    & p {
        color: #aaa;
    }
}

#menu .menu {
    font-family: var(--fuenteprincipal);

    & a {
        display: block;
        text-decoration: none;
        padding: 0.75rem;
        font-size: 0.85rem;
        color: white;
    }

    & .activo {
        background-color: var(--colorprincipal);
        border-radius: 5px;
        font-weight: 400;
    }

}

#menu article {
    padding-bottom: var(--margingrid);
}

#menu .product {
    display: flex;

    & h4 {
        color: white;
    }

    & .price {
        color: var(--colorprincipal);
        padding: 0 var(--margingrid);
    }

}

#menu .today {
    padding: var(--margingrid);

    & h5 {
        color: #aaa;
    }

    & .nodo {
        padding: var(--margingrid) 0;
    }
}


/* FINAL MENU */


/* INICIO MEDIA-QUERIES */

@media(min-width: 37.5rem) {
    section#services .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    section#services .grid article:last-child {
        grid-column: 1/3;
    }

    section#services .grid article {
        padding: 1.25rem;
        border-bottom: 0;
        border-left: 1px solid #aaa;
    }

    section#aboutus .flex {
        flex-direction: row;

    }
}

@media(min-width: 48rem) {
    header .nav-top .container {
        justify-content: space-between;

        & span {
            display: inline;

        }

        & a {
            color: white;
            text-decoration: none;
            font-size: 110%;
        }

    }

    footer {
        text-align: left;
    }

    section#services .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    section#services .grid article:last-child {
        grid-column: auto;
        /* reseteamos grid-column. tambien se podria solucionar con 3/4 */
    }
}

@media(min-width: 62.75rem) {
    header .hamburguesa {
        display: none;
    }

    header nav .container {
        flex-wrap: nowrap;
    }

    header .menu {
        padding: 0.5rem 0;
        display: flex;
        justify-content: end;
    }

    header .menu a {
        border: 0;
        padding: 1.25rem 0rem 1.25rem 2.50rem;

    }

    section#blog .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    #menu .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        & .lateral {
            display: inline;
            width: 30%;
        }

        & .today {
            display: inline;
            width: 60%;
            padding: 0;
        }

        & article {
            display: flex;

            & img {
                max-width: 175px;
                padding: 0 var(--margingrid);
            }
        }

        & .product {
            align-content: unset;
        }

        & .head>hr {
            position: absolute;
            width: 4rem;
            color: var(--colorprincipal);
        }
    }
}



/* FINAL MEDIA-QUERIES */